.header {
  margin-bottom: 2rem;
  background-color: var(--card-background);
  padding: 1rem;
  border-radius: 8px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.profileImage {
  border-radius: 50%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.infoContact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: medium;
  color: #6b7280;
}

@media (max-width: 599px) {
  .header {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
  }

  .profile {
    flex-direction: column;
    align-items: flex-center;
  }

  .profileImage {
    width: 80px;
    height: 80px;
  }

  .profileInfo {
    padding: 5px;
    gap: 10px;
    align-items: center;
  }

  .infoContact {
    flex-direction: column;
    gap: 5px;
    font-size: small;
  }
}

/* Media queries para tabletas */
@media (min-width: 600px) {
  .profileImage {
    width: 250px;
    height: 250px;
  }

  .profileInfo h2 {
    font-size: 24px;
  }

  .infoContact {
    font-size: 18px;
  }
}

/* Media queries para escritorios */
@media (min-width: 900px) {
  .profileImage {
    width: 200px;
    height: 200px;
  }

  .profileInfo h2 {
    font-size: 24px;
  }

  .infoContact {
    font-size: 16px;
  }

  .profile {
    flex-basis: 50%;
  }
}
